<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3.4.27/dist/vue.global.prod.js"></script>
    <link
      href="https://unpkg.com/@arco-design/web-vue@2.56.2/dist/arco.css"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/@arco-design/web-vue@2.56.2/dist/arco-vue.min.js"></script>
    <style>
      #app {
        padding: 24px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div>
        <a-form
          :model="form"
          :style="{ width: '100%' }"
          @submit="handleSubmit"
          layout="inline"
        >
          <a-form-item field="serverHost" label="服务器：">
            <a-input v-model="form.serverHost" />
          </a-form-item>
          <a-form-item field="domainName" label="域名：">
            <a-input v-model="form.domainName" />
          </a-form-item>
          <a-form-item field="listenPort" label="端口：">
            <a-input v-model="form.listenPort" :style="{width:'100px'}" />
          </a-form-item>
          <a-form-item field="token" label="Token：">
            <a-input v-model="form.token" :style="{width:'100px'}" />
          </a-form-item>
          <a-form-item field="type" label="类型：">
            <a-select v-model="form.type" :style="{width:'120px'}">
              <a-option :value="0">Web</a-option>
              <a-option :value="1">Tcp</a-option>
              <a-option :value="2">Udp</a-option>
              <a-option :value="3">文件共享</a-option>
            </a-select>
          </a-form-item>
          <a-form-item field="targetIp" label="目标IP：">
            <a-input v-model="form.targetIp" :style="{width:'150px'}" />
          </a-form-item>
          <a-form-item field="targetPort" label="目标端口：">
            <a-input v-model="form.targetPort" :style="{width:'150px'}" />
          </a-form-item>
          <a-form-item field="fileSharingPath" label="文件共享路径：">
            <a-input v-model="form.fileSharingPath" :style="{width:'150px'}" />
          </a-form-item>
          <a-form-item>
            <a-button type="primary" html-type="submit">新建隧道</a-button>
          </a-form-item>
        </a-form>
      </div>
      <br />
      <div>
        <a-table :columns="columns" :data="datas.tableDatas">
          <template #target="{ record }">
            {{record.targetIp}}:{{record.targetPort}}
          </template>
        </a-table>
      </div>
    </div>
    <script>
      const { createApp } = Vue;

      const app = createApp({
        setup() {
          const { ref, reactive, onMounted } = Vue;

          onMounted(() => {
            reloadTable();
          });

          const columns = [
            {
              title: "域名",
              dataIndex: "domainName",
            },
            {
              title: "目标",
              dataIndex: "target",
              slotName: "target",
            },
          ];

          const types = [{}];

          const datas = reactive({
            tableDatas: [],
          });

          const form = reactive({
            domainName: "127.0.0.1",
            serverHost: "ws://127.0.0.1:5300",
            listenPort: 123,
            type: 0,
            token: "123",
            targetIp: "127.0.0.1",
            targetPort: "5500",
            fileSharingPath: "",
          });

          const handleSubmit = () => {
            axios
              .post("http://localhost:5200/CreateTunnel", {
                ...form,
              })
              .then((r) => {
                console.log(r, "r");
              });
          };

          const reloadTable = () => {
            axios.get("http://localhost:5200/GetTunnel").then((r) => {
              datas.tableDatas = r.data.data;
            });
          };

          return {
            columns,
            datas,
            form,
            handleSubmit,
          };
        },
      });
      app.use(ArcoVue);
      app.mount("#app");
    </script>
  </body>
</html>
